*{
    margin: 0;
    padding: 0;
    font-family: 'Mohave';
}

@font-face {
    font-family: 'Mohave';
    src: local(Mohave), url('../../../assets/fontes/Mohave-Medium.otf');
    font-weight: 600;
    
}

@font-face {
    font-family: 'Mohave';
    src: local(Mohave), url('../../../assets/fontes/Mohave-Bold.otf');
    font-weight: bold;
    
}

@font-face {
    font-family: 'Mohave';
    src: local(Mohave), url('../../../assets/fontes/Mohave-Light.otf');
    font-weight: lighter;
    
}

body{
    height: 640px;
}
/* === header === */


header div{
    background-image: url('../../../assets/background.png');
    background-repeat: repeat-x;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
}

header div img{
    position: absolute;
    top: 92px;
    margin-bottom: 32px;
}

/* === forms === */

.content-cadastro form{
    max-width: 247px;
    margin: 0 auto;
}

.form-id{
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #878585;
    width: 260px;
}

.form-id label{
    font-size: 15px;
    font-weight: bold;
}

.form-id input{
    font-size: 15px;
    font-weight: lighter;
    margin-top: 26px;
    margin-left: 16px;
    border: none;
    box-shadow: none;
    outline: 0;
    padding-bottom: 11px;
}

.form-id textarea{
    margin-top: 26px;
    margin-left: 16px;
    text-align: left;
    border: none;
    padding-bottom: 11px;
}

.form-id textarea:focus{
    outline: 0;
}

.form-id + .form-id{
    margin-top: 15px;
    display: flex;
    box-shadow: none;
    outline: 0;
}

.form-img{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.form-img label{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
}
#botao{
    background-color:#F2CB04;
    padding-left: 16px;
    padding-bottom:9px;
    padding-top:9px;
    cursor: pointer;
    margin-bottom: 31px;
}

.form-img input{
    display: none;
}

#buttom{
    width: 156px;
    height: 44px;
    border-radius: 10px;
    border: none;
    background-color: #F2CB04;
    box-shadow: none;
    outline: 0;
    cursor: pointer;

    font-size: 25px;
    font-weight: bold;

    margin: 0 auto;
    margin-left: 43px;
}

/* === redes sociais === */

#redes-sociais{
    
    max-width: 220px;
    margin: 0 auto;
}
#redes-sociais p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #636363;
    font-weight: bold;
    font-size: 13px;
}

.icons{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.icons img + img{
    margin-left: 29px;

}