<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Alaobá</title>

    <link rel="stylesheet" href="../public/styles/identificacao.css">
</head>
<body>
    <header>
        <div>
            <img src="../assets/icons/logo-alaoba.svg" alt="logo-alaoba">
        </div>
        
    </header>
    <div class="buttons">
        <button type="button">sou cliente </button>
        <button type="button">sou barista </button>
    </div>
</body>
</html>