<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Alaobá</title>

    <link rel="stylesheet" href="/public/styles/barista/bairista.css">
</head>
<body>
    <header>
        <nav>
            <img class="logo" src="/assets/icons/logo-alaoba.svg" alt="logo-alaoba">
            
            <img class="button" src="/assets/icons/menu.png" alt="menu">
        </nav>
       	
        
    </header>
    <main>

        <form action="/views/barista/gerar-qrcode.html" style="margin-bottom: 30px;">
            <input class="buttom" type="submit" value="cobrar" id="buttom">
        </form>
       
        <form action="/views/barista/gerar-token.html" style="margin-bottom: 30px;">
            <input class="buttom" type="submit" value="gerar token" id="buttom">
        </form>

        <form action="/views/barista/perfil-bairista.html">
            <input class="buttom" type="submit" value="ver/editar perfil" id="buttom">
        </form>
          
    </main>
    
    

</body>
</html>