<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Alaobá</title>

    <link rel="stylesheet" href="/public/styles/barista/embaixadores.css">
</head>
<body>
    <header>
        <nav>
            <img class="logo" src="/assets/icons/back.png" alt="logo-alaoba">
            
            <img class="button" src="/assets/icons/menu.png" alt="menu">
        </nav>
       </script>	
        
    </header>
    
    <main>
        <div class="embaixador">
            <img src="/assets/icons/man.svg" alt="foto-embaixador">
            <div class="info-embaixador">
                <p>Jõao das Neves</p>
                <p>Coins: <span>254</span></p>
            </div>   
        </div>

        <div class="embaixador">
            <img src="/assets/icons/woman.svg" alt="foto-embaixador">
            <div class="info-embaixador">
                <p>Joana das Neves</p>
                <p>Coins: <span>254</span></p>
            </div>   
        </div>

        <div class="embaixador">
            <img src="/assets/icons/man.svg" alt="foto-embaixador">
            <div class="info-embaixador">
                <p>Jõao das Neves</p>
                <p>Coins: <span>254</span></p>
            </div>   
        </div>

        <div class="embaixador">
            <img src="/assets/icons/woman.svg" alt="foto-embaixador">
            <div class="info-embaixador">
                <p>Joana das Neves</p>
                <p>Coins: <span>254</span></p>
            </div>   
        </div>
    </main>

</body>
</html>