<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Alaobá</title>

    <link rel="stylesheet" href="/public/styles/barista/promocao.css">
</head>
<body>
    <header>
        <nav>
            <img class="logo" src="/assets/icons/back.png" alt="logo-alaoba">
            
            <img class="button" src="/assets/icons/menu.png" alt="menu">
        </nav>
       </script>	
        
    </header>
    
    <main>
        <p>Não exite nenhuma promoção cadastrada</p>

        <form action="/views/barista/adc-promocao.html">
            <input class="buttom" type="submit" value="nova promoção" id="buttom">
        </form>
        
    </main>

</body>
</html>