<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Alaobá</title>

    <link rel="stylesheet" href="/public/styles/barista/tela-promocao.css">
</head>
<body>
    <header>
        <nav>
            <img class="logo" src="/assets/icons/back.png" alt="logo-alaoba">
            <div class="saldo">
                <p>Saldo disponível</p>
                <h1>3333 MOEDAS</h1>
            </div>
            <img class="button" src="/assets/icons/menu.png" alt="menu">
        </nav>
       </script>	
        
    </header>
    
    <main>
        <div>
            <img src="/assets/drink.png" alt="drink">
            <div class="info">
                <h6>Promoção 01 - Recompensa</h6>
                <p>Quem manda na minha sou euzis! Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.</p>
                <p class="tempo">
                    Período vigente: 00/00/00 - 00/00/00
                </p>
            </div>
        </div>

        <div>
            <img src="/assets/drink.png" alt="drink">
            <div class="info">
                <h6>Promoção 01 - Recompensa</h6>
                <p>Quem manda na minha sou euzis! Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.</p>
                <p class="tempo">
                    Período vigente: 00/00/00 - 00/00/00
                </p>
            </div>
        </div>

        <div>
            <img src="/assets/drink.png" alt="drink">
            <div class="info">
                <h6>Promoção 01 - Recompensa</h6>
                <p>Quem manda na minha sou euzis! Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.</p>
                <p class="tempo">
                    Período vigente: 00/00/00 - 00/00/00
                </p>
            </div>
        </div>

        <form action="/views/barista/adc-promocao.html">
            <input class="buttom" type="submit" value="nova promoção" id="buttom">
        </form>

        <form action="/views/barista/excluir-promocao.html">
            <input class="buttom" type="submit" value="editar promoção" id="buttom">
        </form>
        
    </main>

</body>
</html>