<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Alaobá</title>

    <script  defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIEiEkJ6nWmUggvHvFecFDE4Dch15yuXM&callback=initMap">
    </script>

    <script src="../../public/scripts/map.js"></script>
    
    <link rel="stylesheet" href="/public/styles/cliente/cliente.css">
</head>
<body>
    <header>
        <nav>
            <img class="logo" src="/assets/icons/logo-alaoba.svg" alt="logo-alaoba">
            <div class="saldo">
                <p>Saldo disponível</p>
                <h1>3333 MOEDAS</h1>
            </div>
            <img class="button" src="/assets/icons/menu.png" alt="menu">
        </nav>
        
    </header>
    
    <div class="main">
        <div id="map"></div>

        <nav>
            <div>
                <img src="/assets/zeca.png" alt="">
                <p>Jessé Gomes da Silva Filho</p>
            </div>
                <ul>
                    <li>
                        <img src="/assets/icons/editar.svg" alt="editar">
                        <p>Ver/Editar perfil</p>
                    </li>
                    <li>
                        <img src="/assets/icons/recomendar.svg" alt="">
                        <p>Recomendar</p>
                    </li>
                    <li>
                        <img src="/assets/icons/partner.svg" alt="">
                        <p>Quem tá cmg!</p>
                    </li>
                    <li>
                        <img src="/assets/icons/notification.svg" alt="">
                        <p>Notificações</p>
                    </li>
                    <li>
                        <img src="/assets/icons/avaliar.svg" alt="">
                        <p>Avaliar bares</p>
                    </li>
                </ul>
         </nav>
    </div>

    <footer>
        <div>
            <img src="/assets/icons/dinheiro.svg" alt="dinheiro">
            <p>usar moedas</p>
        </div>

        <div>
            <img src="/assets/icons/saida.svg" alt="saida">
            <p>tô vazando</p>
        </div>
    </footer>


</body>
</html>