<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Alaobá</title>

    <link rel="stylesheet" href="/public/styles/cliente/perfil.cliente.css">
</head>
<body>
    <header>
        <nav>
            <img class="logo" src="/assets/icons/back.png" alt="logo-alaoba">
            <div class="saldo">
                <p>Saldo disponível</p>
                <h1>3333 MOEDAS</h1>
            </div>
            <img class="button" src="/assets/icons/menu.png" alt="menu">
        </nav>
       
    </header>
    
    <main>
        <div>
            <img src="/assets/zeca.png" alt="foto">
            <p>Jessé Gomes da Silva Filho</p>
            <p> 45 anos de idade</p>
            <p>CPF:<span> 123.456.789-10</span></p>
            <p>E-mail:<span>cliente@exemplo.com</span> </p>
        </div>

        <input class="buttom" type="submit" value="inserir token" id="buttom">
    </main>

</body>
</html>