<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Alaobá</title>

    <link rel="stylesheet" href="/public/styles/cliente/perfil.cliente.css">
    <link rel="stylesheet" href="/public/styles/cliente/navbar.css">
</head>
<body>
    <header>
        <nav>
            <a href="/views/cliente/cliente.html"><img class="logo" src="/assets/icons/back.png" alt="logo-alaoba"></a>
            
            <div class="saldo">
                <p>Saldo disponível</p>
                <h1>3333 MOEDAS</h1>
            </div>
            <img class="menu" src="/assets/icons/menu.png" alt="menu">
        </nav>
   
    </header>
    
    <main>
        <div>
            <img src="/assets/zeca.png" alt="foto">
            <p>Jessé Gomes da Silva Filho</p>
            <p> 45 anos de idade</p>
            <p>CPF:<span> 123.456.789-10</span></p>
            <p>E-mail:<span>cliente@exemplo.com</span> </p>
        </div>

        <input class="buttom" type="submit" value="editar perfil" id="buttom">
        <nav class="navbar">
            <div>
                <img class="fechar" src="/assets/icons/x.svg" alt="fechar" style="width: 10px; height: 10px; margin:5px; padding: 0;">
                <img src="/assets/zeca.png" alt="">
                <p>Jessé Gomes da Silva Filho</p>
            </div>
                <ul>
                    <li>
                        <img src="/assets/icons/editar.svg" alt="editar">
                        <a href="/views/cliente/perfil-cliente.html"><p>Ver/Editar perfil</p></a>
                        
                    </li>
                    <li>
                        <img src="/assets/icons/recomendar.svg" alt="">
                        <a href="/views/cliente/recomendar.html"><p>Recomendar</p></a>
                        
                    </li>
                    <li>
                        <img src="/assets/icons/partner.svg" alt="">
                        <a href="/views/cliente/tamo-junto.html"><p>Quem tá cmg!</p></a>
                        
                    </li>
                    <li>
                        <img src="/assets/icons/notification.svg" alt="">
                        <a href="/views/cliente/notificacoes.html"><p>Notificações</p></a>
                        
                    </li>
                    <li>
                        <img src="/assets/icons/avaliar.svg" alt="">

                        <p>Avaliar bares</p>
                    </li>
                </ul>
         </nav>
    </main>
<script src="/public/scripts/menu.js"></script>
</body>
</html>