<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Alaobá</title>

    <link rel="stylesheet" href="/public/styles/cliente/recomendar.css">
    <link rel="stylesheet" href="/public/styles/cliente/navbar.css">
</head>
<body>
    <header>
        <nav>
            <a href="/views/cliente/cliente.html"><img class="logo" src="/assets/icons/back.png" alt="logo-alaoba"></a>
            <div class="saldo">
                <p>Saldo disponível</p>
                <h1>3333 MOEDAS</h1>
            </div>
            <img class="menu" src="/assets/icons/menu.png" alt="menu">
        </nav>
       </script>	
        
    </header>
    
    <div class="content-main">
        <main>
        
            <p class="title">Recomendar para um parça!</p>
    
            <div class="busca">
                <img src="/assets/icons/lupa.png" alt="lupa">
                <input type="text" placeholder="Digite o e-mail do parça">
            </div>
            
        
            <input type="submit" value="tamo junto!" id="buttom">
    
            <h3>Aêêê!<br>
            Parabéns, você ganhou <br>
            15 moedas por recomendar<br>
            o Alaobá! Saúde!</h3>
    
            <img src="/assets/icons/beer.png" alt="beer">
    
        
        </main>

        <nav class="navbar">
            <div>
                <img class="fechar" src="/assets/icons/x.svg" alt="fechar" style="width: 10px; height: 10px; margin:5px; padding: 0;">
                <img src="/assets/zeca.png" alt="">
                <p>Jessé Gomes da Silva Filho</p>
            </div>
                <ul>
                    <li>
                        <img src="/assets/icons/editar.svg" alt="editar">
                        <a href="/views/cliente/perfil-cliente.html"><p>Ver/Editar perfil</p></a>
                        
                    </li>
                    <li>
                        <img src="/assets/icons/recomendar.svg" alt="">
                        <a href="/views/cliente/recomendar.html"><p>Recomendar</p></a>
                        
                    </li>
                    <li>
                        <img src="/assets/icons/partner.svg" alt="">
                        <a href="/views/cliente/tamo-junto.html"><p>Quem tá cmg!</p></a>
                        
                    </li>
                    <li>
                        <img src="/assets/icons/notification.svg" alt="">
                        <a href="/views/cliente/notificacoes.html"><p>Notificações</p></a>
                        
                    </li>
                    <li>
                        <img src="/assets/icons/avaliar.svg" alt="">
    
                        <p>Avaliar bares</p>
                    </li>
                </ul>
         </nav>
    </div>

    <script src="/public/scripts/menu.js"></script>
</body>
</html>