<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Alaobá</title>

    <link rel="stylesheet" href="/public/styles/cliente/tamo-junto.css">
    <link rel="stylesheet" href="/public/styles/cliente/navbar.css">
</head>
<body>
    <header>
        <nav>
            <a href="/views/cliente/cliente.html"><img class="logo" src="/assets/icons/back.png" alt="logo-alaoba"></a>
            <div class="saldo">
                <p>Saldo disponível</p>
                <h1>3333 MOEDAS</h1>
            </div>
            <img class="button" src="/assets/icons/menu.png" alt="menu">
        </nav>
       </script>	
        
    </header>
    
    <main>
        <div class='main-content'>
            <div class="busca">
                <img src="/assets/icons/lupa.png" alt="lupa">
                <p>busque aqui seu parça</p>
            </div>
            <div class="embaixador">
                <img src="/assets/icons/man.svg" alt="foto-embaixador">
                <div class="info-embaixador">
                    <p>Jõao das Neves</p>
                    <p>Coins: <span>254</span></p>
                </div>   
            </div>
        
            <input type="submit" value="tamo junto!" id="buttom">
        </div>

        <nav class="navbar">
            <div>
                <img class="fechar" src="/assets/icons/x.svg" alt="fechar" style="top: 0;left: 0;margin: 5px;position: absolute; cursor: pointer;">
                <img src="/assets/zeca.png" alt="">
                <p>Jessé Gomes da Silva Filho</p>
            </div>
                <ul>
                    <li>
                        <img src="/assets/icons/editar.svg" alt="editar">
                        <a href="/views/cliente/perfil-cliente.html"><p>Ver/Editar perfil</p></a>
                        
                    </li>
                    <li>
                        <img src="/assets/icons/recomendar.svg" alt="">
                        <a href="/views/cliente/recomendar.html"><p>Recomendar</p></a>
                        
                    </li>
                    <li>
                        <img src="/assets/icons/partner.svg" alt="">
                        <a href="/views/cliente/tamo-junto.html"><p>Quem tá cmg!</p></a>
                        
                    </li>
                    <li>
                        <img src="/assets/icons/notification.svg" alt="">
                        <a href="/views/cliente/notificacoes.html"><p>Notificações</p></a>
                        
                    </li>
                    <li>
                        <img src="/assets/icons/avaliar.svg" alt="">

                        <p>Avaliar bares</p>
                    </li>
                </ul>
         </nav>
        
       
        
    </main>

</body>
</html>