<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Alaobá</title>

    <link rel="stylesheet" href="/public/styles/cliente/tamo-junto.css">
</head>
<body>
    <header>
        <nav>
            <img class="logo" src="/assets/icons/back.png" alt="logo-alaoba">
            <div class="saldo">
                <p>Saldo disponível</p>
                <h1>3333 MOEDAS</h1>
            </div>
            <img class="button" src="/assets/icons/menu.png" alt="menu">
        </nav>
       </script>	
        
    </header>
    
    <main>

        <div class="busca">
            <img src="/assets/icons/lupa.png" alt="lupa">
            <p>busque aqui seu parça</p>
        </div>
        <div class="embaixador">
            <img src="/assets/icons/man.svg" alt="foto-embaixador">
            <div class="info-embaixador">
                <p>Jõao das Neves</p>
                <p>Coins: <span>254</span></p>
            </div>   
        </div>
    
        <input type="submit" value="tamo junto!" id="buttom">
       
        
    </main>

</body>
</html>