<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Alaobá</title>

    <link rel="stylesheet" href="/public/styles/barista/perfil-bairista.css">
</head>
<body>
    <header>
        <nav>
            <img class="logo" src="/assets/icons/back.png" alt="logo-alaoba">
            <div class="saldo">
                <p>Saldo disponível</p>
                <h1>3333 MOEDAS</h1>
            </div>
            <img class="button" src="/assets/icons/menu.png" alt="menu">
        </nav>
       </script>	
        
    </header>
    
    <main>
        <div class="container-bar">
            <img src="/assets/img-bar.png" alt="bar">
            <div class="sobre-bar">
                <p class="titulo">Habeas Copus Bar</p>
                <p class="descr">Eiiitaaa Mainhaaa! Esse lorem ipsum é só na sacanageeem! E que abundância meu irmão viu! Assim você vai matar o papai. Só digo uma coisa, Domingo ela não vai! Danadaa! Vem minha odalisca, agora faz essa cobra coral subir! Pau que nasce torto, nunca se endireita. Tchannn! Tchannn! Tu du du pááá! Eu gostchu muitchu, heinn! danadinha! Mainhaa! Agora use meu lorem ipsum ordinária! Olha o quibeee! rema, rema, ordinária!</p>

                <p class="titulo">Endereço</p>
                <p class="descr">Rua das Dores Dos Prazeres, 123</p>

                <p class="titulo">Cidade</p>
                <p class="descr">Luís Alves (SC)</p>

                <p class="titulo">Telefone</p>
                <p class="descr">(XX) 99999 9999</p>
            </div>
        </div>
        

            <div class="promocoes">
                <div>
                     <img src="/assets/drink.png" alt="drink">
                    
                    <div class="info">
                        <h6>Promoção 01 - Recompensa</h6>
                        <p class="info-descr">Quem manda na minha sou euzis! Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.</p>
                        <p class="tempo">
                            Período vigente: 00/00/00 - 00/00/00
                        </p>
                    </div>
                </div>

                <div>
                    <img src="/assets/drink.png" alt="drink">
                    <div class="info">
                        <h6>Promoção 01 - Recompensa</h6>
                        <p>Quem manda na minha sou euzis! Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.</p>
                        <p class="tempo">
                            Período vigente: 00/00/00 - 00/00/00
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>